body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
  background-image: url("img/svg-gllacy/f1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

a:hover {
  color: #ffffff;
  border-bottom: none;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #849d8f;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:hover,
.user-navigation a:focus {
  color: #333333;
  background-color: #ffffff;
}

.logo {
  font-size: 60px;
  line-height: 85px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto";
  text-align: center;
}

.logo a {
  color: #ffffff;
}

.slide-switches {
  list-style: none;
}

.raspberry-block {
  color:#ffffff;

  background-color: #813339;
  background-image: url("../img/b1.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-option-radio {
  position: relative;
}

.filter-option-radio::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.filter-input-radio:checked+.filter-option-radio::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  left: 5px;
  top: 5px;
}



.share-list {
  list-style: none;
}

.chocolates-block {
  color:#ffffff;

  background-color: #40271c;
  background-image: url("../img/b2.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.map {
  position: relative;
}

.contact-info {
  position: absolute;
  width: 300px;
  right: 0;
  top: 0;
}

.map-iframe iframe {
  width: 100%;
}

.ice-cream {
  position: relative;
}
.ice-cream::before {
  content: "";
  background-image: url("../img/svg-gllacy/ice-cream.svg");
  background-size: 100%;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  right: 0;
}

.share-item a {
  color: #ffffff;
}

.share-item h3 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto";
}

.catalog-item {
  list-style: none;
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: Medium;
  font-family: "Roboto";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

}

.search:hover,
.search:focus,
.search:active, {

}

.login-link:hover,
.login-link:focus,
.login-link:active, {

}

.basket:hover,
.basket:focus,
.basket:active, {

}

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a {
  color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #ffffff;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
}

.filter fieldset {
  border: none;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

/* надо ли, если я не знаю какие поля заблокированы
.filter-input:hover + label,
.filter-input:focus + label {
  color:;
}

.filter-input:disabled + label {
  color: ;

  opacity: 0.5;
}
*/

.catalog-list {
  list-style: none;
}

/*Как задать белый цвет с непрозрачностью 20%*/
.catalog-item:hover {
  background-color: ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0,4);
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #000000;

  background-color:#ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: /*прозрачный белый*/;
}

.main-footer a {
  color: #ffffff;
  text-decoration: underline;

  list-style: none;
}

.main-footer a:hover,
.main-footer a:focus {
  text-decoration: none;
}

.catalog-block ul {
  list-style: none;
}

.contact-info  {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  font-weight: regular;
  color: #323232;

}

.footer-navigation ul {
  text-align: center;
}

.footer-copyright {
  text-align: left;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #ffffff;

  background-color: ;
}

.footer-social ul {
  list-style: none;
}

.footer-navigation  {
  list-style: none;
}
